.blueText{ 
font-family: 'Fira Sans',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

display: flex;
align-items: center;

/* Darker blue */

color: #00528C;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
 }

.blackText{ 
font-family: 'Fira Sans',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */

display: flex;
align-items: center;

/* Darker grey */

color: #2D2D2D;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;



 }